<div class="container">
    <div class="for-title text-center">
        <h1><%= getPost.Title %></h1>
    </div>
    <h6>Penulis: <%= getPost.Author %></h6>
    <h6>Tanggal Terbit: <%= getPost.DatePosts %></h6>
    <Br>
    <div class="post-image text-center">
        <img src="../<%= getPost.Avatar %>" class="img-fluid" alt="foto" style="height: 400px;">
        <p>src: <%= getPost.Avatar %></p>
    </div>
    <p><%= getPost.Paragraf %></p>
</div>