<div class="container">
  
           <form method="post" action="/dasbord/update?_method=PUT" enctype="multipart/form-data">
              <input type="hidden" name="_id" value="<%= getPost._id %>">
               <div class="mb-3">
                 <label for="Title" class="form-label">Title</label>
                 <input type="text" class="form-control" id="Title" name="Title" value="<%= getPost.Title %>" required>
               </div>
                 <div class="mb-3">
                   <label for="Paragraf" class="form-label">Paragraf</label>
                   <br>
                   <textarea  id="Paragraf"  name="Paragraf" style="width: 100%; height: 300px;" required><%= getPost.Paragraf %></textarea>
                 </div>
                 <div class="mb-3">
                  <img src="/<%= getPost.Avatar %>" alt="<%= getPost.Slug %>" width="300" class="mb-2 oldImg">
                  
                    <img class="img-perview" width="300">
               
                  <label for="Avatar" class="form-label">Avatar</label>
                  <input type="file" class="form-control" id="Avatar" name="Avatar" onchange="perviewImage()">
                </div>
                 <div class="mb-3">
                   <label for="Author" class="form-label">Author</label>
                   <input type="text" class="form-control" id="Author" name="Author" value="<%= getPost.Author%>" required>
                 </div>
               <button type="submit" class="btn btn-primary">Submit</button>
             </form>
             <bR>
  
</div>

<script>
   function perviewImage(){
              const image = document.querySelector('#Avatar')
              const pathImage = document.querySelector('.img-perview')
              const oldImg = document.querySelector('.oldImg')

              pathImage.style.display = "block";

              const oFReader = new FileReader();
              oFReader.readAsDataURL(image.files[0]);

              oFReader.onload = function(oFREvent){
                pathImage.src = oFREvent.target.result;
              }

              oldImg.style.display = "none"
              
            }
</script>